$page.setTitle("Nautical Chart")

<h1>$uiLink</h1>
<ul>
#foreach ($project in $projects)
  #set($url = "$uiLink.setTarget('project').addQueryData('name', $project.getName())")
  <li><a href="$url">$project.getName()</a></li>
#end
</ul>

  #set($addProjectUrl = "$uiLink.setTarget('addproject')")
<h1><a href="$addProjectUrl">新增项目</a></h1>