$page.setTitle("$projectName")

<h1>$uiLink</h1>
<ul>
#foreach ($version in $versions)
  #set($url = "$uiLink.setTarget('version').addQueryData('project', $projectName).addQueryData('version', $version.getName())")
  <li><a href="$url">$version.getName()</a></li>
#end
</ul>
