$page.setTitle("ADD ISSUE")

<div id="header">Nautical Chart</div>

<form action="$app1Link" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="IssueAction"/>
    <input type="hidden" name="project" value="$project"/>
    <input type="hidden" name="version" value="$version"/>

    #set ($group = $form.issue.defaultInstance)

    <div id="center">
        <p><input type="text" name="$group.name.key" value="name" /></p>
        <p><input type="text" name="$group.description.key" value="description" /></p>
        <p><input type="text" name="$group.originator.key" value="originator" /></p>
        <p><input type="text" name="$group.owner.key" value="owner" /></p>
    </div>

    <div id="footer">
        <a href="$app1Link.setTarget("version").addQueryData('project', $project).addQueryData('version', $version)">Back</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event_submit_do_add" value="Add" />
    </div>

</form>
