$page.setTitle("ADD VERSION")

<div id="header">Nautical Chart</div>

<form action="$app1Link" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="VersionAction"/>
    <input type="hidden" name="project" value="$project"/>

    #set ($group = $form.version.defaultInstance)

    <div id="center"><input type="text" name="$group.name.key" value="version's name" /></div>

    <div id="footer">
        <a href="$app1Link.setTarget("project").addQueryData('name', $project)">Back</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event_submit_do_add" value="Add" />
    </div>

</form>
