$page.setTitle("ADD VERSION")

<h1>$app1Link</h1>
<form action="$app1Link" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="VersionAction"/>
    <input type="hidden" name="project" value="$project"/>

    #set ($group = $form.version.defaultInstance)

    <p>Hello, what is the version's name?</p>

    #if (!$group.name.valid)
        <p>$group.name.message</p>
    #end

    <p>
        <input type="text" name="$group.name.key" value="$!group.name.value"/>
        <input type="submit" name="event_submit_do_add"/>
    </p>

</form>
