$page.setTitle("$issue")

<div id="header">Nautical Chart</div>

<div id="center">
    <p>$content.getName()</p>
    <p>$content.getDescription()</p>
    <p>$content.getType().name()</p>
    <p>$content.getOriginator()</p>
    <p>$content.getOwner()</p>
    #foreach ($issueContent in $content.getStatus())
        <p>$issueContent.name() $issueContent.getTime()</p>
    #end
</div>

<form action="$app1Link" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="IssueAction"/>
    <input type="hidden" name="project" value="$project"/>
    <input type="hidden" name="version" value="$version"/>
    <input type="hidden" name="issue" value="$issue" />

    <div id="footer">
        <a href="$app1Link.setTarget("version").addQueryData('project', $project).addQueryData('version', $version)">Back</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event_submit_do_del" value="Delete" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        #set($updateIssueUrl = "$app1Link.setTarget('updateIssue').addQueryData('project', $project).addQueryData('version', $version).addQueryData('issue', $issue)")
        <a href="$updateIssueUrl">Update</a>
    </div>
</form>
