$page.setTitle("$issue")

<h1>$app1Link</h1>
<h1>$content.getName()</h1>
<h1>$content.getDescription()</h1>
<h1>$content.getType().name()</h1>
<h1>$content.getOriginator()</h1>
<h1>$content.getOwner()</h1>
#foreach ($issueContent in $content.getStatus())
  <h1>$issueContent.name() $issueContent.getTime()</h1>
#end

#set($updateIssueUrl = "$app1Link.setTarget('updateIssue').addQueryData('project', $project).addQueryData('version', $version).addQueryData('issue', $issue)")
<h1><a href="$updateIssueUrl">修改需求</a></h1>

<form action="$app1Link" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="IssueAction"/>
    <input type="hidden" name="project" value="$project"/>
    <input type="hidden" name="version" value="$version"/>
    <input type="hidden" name="issue" value="$issue" />

    <input type="submit" name="event_submit_do_del" value="删除" />
</form>
