$page.setTitle("Nautical Chart")

<h1>项目列表</h1>

<ul>
#foreach ($project in $projects)
  #set($url = "$app1Link.setTarget('project').addQueryData('name', $project.getName())")
  <li><h3><a href="$url">$project.getName()</a></h3></li>
#end
</ul>

#set($addProjectUrl = "$app1Link.setTarget('addproject')")
<a href="$addProjectUrl"><button>新增项目</button></a>
