$page.setTitle("Nautical Chart")

<h1>$app1Link</h1>
<ul>
#foreach ($project in $projects)
  #set($url = "$app1Link.setTarget('project.htm').addQueryData('name', $project.getName())")
  <li><a href="$url">$project.getName()</a></li>
#end
</ul>

  #set($addProjectUrl = "$app1Link.setTarget('addproject')")
<h1><a href="$addProjectUrl">新增项目</a></h1>