$page.setTitle("NAUTICAL CHART")

<div id="header">Nautical Chart</div>

<div id="center">
    #foreach ($project in $projects)
    <p>
        #set($url = "$app1Link.setTarget('project').addQueryData('name', $project.getName())")
        <a href="$url">$project.getName()</a>
    </p>
    #end
</div>

<div id="footer">
    #set($addProjectUrl = "$app1Link.setTarget('addproject')")
    <a href="$addProjectUrl">Add Project</a>
</div>