$page.setTitle("UPDATE PROJECT")

<div id="header">Nautical Chart</div>

<form action="$app1Link.setTarget("index.htm")" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="ProjectAction"/>
    <input type="hidden" name="oldProject" value="$project"/>

    <div id="center"><input type="text" name="newProject" value="$project" /></div>

    <div id="footer">
        <a href="$app1Link.setTarget("project").addQueryData('name', $project)">Back</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="event_submit_do_update" value="Update" />
    </div>
</form>
