$page.setTitle("UPDATE VERSION")

<div id="header">Nautical Chart</div>

<form action="$app1Link" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="VersionAction"/>
    <input type="hidden" name="project" value="$project"/>
    <input type="hidden" name="oldVersion" value="$version"/>

    <div id="center"><input type="text" name="newVersion" value="$version" /></div>

    <div id="footer">
        <a href="$app1Link.setTarget("version").addQueryData('project', $project).addQueryData('version', $version)">Back</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event_submit_do_update" value="Update"/>
    </div>
</form>
